
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie Recommender System</title>
    <!-- <link href="style.css" rel="stylesheet"> -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  </head>
  <body>
    <h1 style="color: red; text-align: center; margin-top: 30px;">Movie Recommendation System</h1>
    <div class="input-container">
      <form id='movie-form'>
        <input id="movie-input" type="text" name="movieinput" class="form-control" placeholder="Please enter movie name" required/>
      </form>
      <div>
         <button type="button" class="predict-btn">Recommend</button>
      </div>
    </div>
  
    <section class="project-section" id="projects">
      <h1 style="color: white">Recommended Movie</h1>
      <div class="underline"></div>
      <div class="loader" style="display:none; text-align: center;"></div>
        <h3 id="result" style="color: white; text-align:center; margin-top: 40px">
          <span></span>
        </h3>
      </div>
    </section>
    <!-- <script src="main.js"></script> -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>